footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="#") Wayne State University
                li: a(href="#") Michigan Technological University