section(class="canvas section-3" id="section-3")

    h2 About US

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#jinghui")

            article

                h3 Jinghui Liao
                p.
                    Jinghui Liao is a PhD candidate of Computer Science at Wayne State University, 
                    advised by Prof.Weisong Shi and Co-advised by Prof. 
                    Wenhai Sun and Prof. Fengwei Zhang . His research interests center on the blockchain, cryptography,
                    distributed systems, trusted execution environments (TEEs), and vehicle system security.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#weisong")

            article

                h3 Weisong Shi
                p.
                    Professor Weisong Shi is a Charles H. Gershenson Distinguished Faculty Fellow and a Professor 
                    of Computer Science with Wayne State University, USA, where he directs the Mobile 
                    and Internet SysTems Laboratory (MIST) and Connected and Autonomous dRiving Laboratory (CAR), 
                    investigating performance, reliability, power- and energy-efficiency, 
                    trust and privacy issues of networked computer systems, and applications. 
                    He is one of the world leaders in the edge computing research community and published 
                    the first book on edge computing. 

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#bochen")

            article

                h3 Bo Chen
                p.
                    Professor Bo Chen is an Assistant Professor in the Department of Computer Science, 
                    Michigan Technological University. 
                    He leads the MTU Security and Privacy (SnP) lab.
                    His current research is focused on applied cryptography and data security. 
                    He is dedicated to investigating novel techniques to protect sensitive data 
                    in mobile devices/flash storage media and cloud infrastructures. 


    +nav-1({ target: "front", direction: "prev" })
