section(class="canvas section-2" id="section-2")

    h2 Features

    div(class="content")

        div

          svg: use(xlink:href="images/section-2/_inline/mobile-svgrepo-com.svg#image")

            article

                h2 Mobile Devices
                p.
                    Mobile computing devices have played an essential role in our daily
                    life, as we increasingly rely on them for daily communication, web
                    browsing, online shopping, mobile banking, etc. Especially, quite a
                    few people also use mobile devices to deal with professional work
                    or even political tasks.
        div

            svg: use(xlink:href="/assets/images/global/_linked/mobile-svgrepo-com.svg#image")

            article

                h2 PDE System
                p.
                   Plausibly Deniable Encryption (PDE) is a technique designed to 
                   address the aforementioned issue.
                    The PDE can convincingly deny the very existence of sensitive
                    data, by which even the active attackers cannot prove that sensitive
                    data exists. 


        div

            svg: use(xlink:href="/assets/images/global/_linked/mobile-svgrepo-com.svg#image")

            article

                h2 NAND Flash
                p.
                     Most existing PDE
                    systems for mobile devices are built on the block
                    layer and unfortunately suffer from deniability compromise in the
                    underlying raw flash memory. A fundamental reason is that raw
                    flash memory requires special internal management to handle its
                    unique nature. Therefore, traces of sensitive data may be present
                    in the raw flash memory and observed by the snapshot adversaries
                    , compromising deniability

        div

            svg: use(xlink:href="/assets/images/global/_linked/mobile-svgrepo-com.svg#image")

            article

                h2 TrustZone
                p.
                    TrustZone is a Trust Execution Environment (TEE) on ARM. 
                    Similar to other hardware isolation technologies, it provides two
                    environments or worlds. The TEE, the secure world, 
                    and the Rich Execution Environment (REE), the normal world.
                    The CPU on a TrustZone-enabled ARM platform has
                    two security modes: secure mode and normal mode.

    +nav-1({ target: "section-3", direction: "next" })
