section(class="canvas section-4" id="section-4")

    h2 Publication

    div(class="content")

        div
            article
                h3 Liao, Jinghui and Chen, Bo and Shi, Weisong. (2021). TrustZone Enhanced Plausibly Deniable Encryption System for Mobile Devices.  2021 IEEE/ACM Symposium on Edge Computing (SEC).
               
        div
            article
                h3 Chen, Niusen and Chen; Bo and Shi, Weisong (2022). The Block-based Mobile PDE Systems Are Not Secure - Experimental Attacks. 2022 EAI International Conference on Applied Cryptography in Computer and Communications (AC3 '22)
        div
            article
                h3 Chen, Niusen and Chen, Bo and Shi, Weisong (2022). A Cross-layer Plausibly Deniable Encryption System for Mobile Devices. 18th EAI International Conference on Security and Privacy in Communication Networks (SecureComm '22). Accepted
        div
            article
                h3 Liao, Jinghui, Fengwei Zhang, Wenhai Sun, and Weisong Shi. "Speedster: An Efficient Multi-party State Channel via Enclaves." In Proceedings of the 2022 ACM on Asia Conference on Computer and Communications Security, pp. 637-651. 2022

    +nav-1({ target: "front", direction: "prev" })
